.modal-dialog {
  z-index: 100 !important;
}

.body-modal {
  z-index: 500 !important;
}
.modal-title {
  color: aliceblue;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.form-label {
  color: aliceblue;
  text-align: center;
}
.btns {
  font-size: 0.8rem;
}
@media screen and (min-width: 600px) {
  .btns {
    font-size: 1.1rem;
  }
}
